<template>
  <div class="comment-item">
    <h5>{{ comment.name }}</h5>
    <a :href="`mailto:${comment.email}`">{{ comment.email }}</a>
    <p>{{ comment.body }}</p> 
  </div>
</template>

<script>
export default {
  props: {
    comment: {
      type: Object,
      default: () => {},
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./comment-item";
</style>