.comment-item {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray;
}

h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2px;
}

a {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 8px;
}

@media (max-width: 767.98px) {
  .comment-item {
    margin-bottom: 15px;
  }
}
