<template>
  <template v-if="post && author && comments">
    <div class="title-container">
      <router-link class="back-button" to="/">
        <i class="wt-icon-arrow-right"></i>
        <span>Back</span>
      </router-link>
      <h2>{{ post.title }}</h2>
    </div>
    <div class="container-small">
      <div class="wrapper">
        <div class="text-container">
          <p>{{ post.body }}</p>
        </div>
        <div v-if="author" class="author-container">
          <h4>Author:</h4>
          <div class="author-block" @click="openModal()">
            <div class="author-avatar">
              <i class="wt-icon-user"></i>
            </div>
            <h3 class="author-name">{{ author.name }}</h3>
          </div>
        </div>
        <div v-if="comments" class="comments-container">
          <h4>Comments:</h4>
          <CommentItem
            v-for="comment in comments"
            :key="comment.id"
            :comment="comment"
          />
        </div>
      </div>
    </div>
  </template>
  <Loader :loading="!(post && author && comments)" />
  <AuthorModal />
</template>

<script>
import Loader from "@/components/shared/loader";
import CommentItem from "./comment-item";
import AuthorModal from "@/components/modals/author";

export default {
  props: {
    post: {
      type: Object,
      default: null,
    },
    author: {
      type: Object,
      default: null,
    },
    comments: {
      type: Array,
      default: null,
    },
  },
  components: {
    Loader,
    CommentItem,
    AuthorModal,
  },
  methods: {
    openModal() {
      this.$store.commit("openAuthorModal", { open: true, data: this.author });
      document.querySelector("body").classList.add("disable-scroll");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./style";
</style>