.title-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  background-color: $white;
  padding: 50px 20px;

  h2 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    max-width: 700px;
  }
}

.back-button {
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  align-items: center;

  i {
    font-size: 13px;
    transform: rotate(180deg);
    margin-right: 6px;
  }

  span {
    font-weight: 600;
    margin-bottom: 2px;
  }
}

.wrapper {
  padding: 50px 0;
}

.text-container {
  p {
    font-size: 1.8rem;
    white-space: pre-line;
    margin-bottom: 40px;
  }
}

h4 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.author-container {
  margin-bottom: 70px;
}

.author-block {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.author-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-color: $white;
  border-radius: 50%;
  margin-right: 10px;

  i {
    font-size: 15px;
  }
}

.author-name {
  font-size: 1.8rem;
  font-weight: 600;
}

.comments-container {
  h4 {
    margin-bottom: 30px;
  }
}

@media (max-width: 991.98px) {
  .title-container {
    min-height: 180px;

    h2 {
      font-size: 2.8rem;
      max-width: 650px;
    }
  }

  .back-button {
    span {
      margin-bottom: 0;
    }
  }

  .wrapper {
    padding: 45px 0;
  }

  .text-container {
    p {
      font-size: 1.6rem;
      margin-bottom: 35px;
    }
  }

  h4 {
    font-size: 1.9rem;
    margin-bottom: 13px;
  }

  .author-container {
    margin-bottom: 60px;
  }

  .author-name {
    font-size: 1.7rem;
  }

  .comments-container {
    h4 {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 767.98px) {
  .title-container {
    min-height: 160px;
    padding: 50px 20px;

    h2 {
      font-size: 2.5rem;
      max-width: 600px;
    }
  }

  .wrapper {
    padding: 40px 0;
  }

  h4 {
    font-size: 1.8rem;
    margin-bottom: 11px;
  }

  .author-container {
    margin-bottom: 50px;
  }

  .author-name {
    font-size: 1.6rem;
  }

  .comments-container {
    h4 {
      margin-bottom: 23px;
    }
  }
}

@media (max-width: 575.98px) {
  .title-container {
    padding: 50px 15px 35px;

    h2 {
      font-size: 2.2rem;
    }
  }

  .back-button {
    left: 15px;

    i {
      font-size: 12px;
    }
  }

  .wrapper {
    padding: 35px 0;
  }

  .text-container {
    p {
      margin-bottom: 30px;
    }
  }

  h4 {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }

  .author-container {
    margin-bottom: 40px;
  }

  .comments-container {
    h4 {
      margin-bottom: 20px;
    }
  }
}
