$xl: 1350px;
$lg: 1120px;
$md: 960px;
$sm: 720px;
$s: 540px;

.container,
.container-small {
  max-width: $lg;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.container-small {
  max-width: $md;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .container {
    max-width: $xl;
  }
}

@media (max-width: 1199.98px) {
  .container {
    max-width: $md;
  }
}

@media (max-width: 575.98px) {
  .container,
  .container-small {
    padding: 0 15px;
  }
}

// @media (min-width: 1400px) {
// }

// @media (max-width: 1199.98px) {
// }

// @media (max-width: 991.98px) {
// }

// @media (max-width: 767.98px) {
// }

// @media (max-width: 575.98px) {
// }