<template>
  <header>
    <router-link class="logo" to="/">
      <img src="@/assets/images/logo.png" alt="" />
      <h1>Test</h1>
    </router-link>
    <nav :class="menu ? 'active' : null">
      <router-link
        v-for="route in routes"
        :key="route.name"
        class="link-template route"
        :to="route.path"
        active-class="active"
        @click="closeMenu()"
      >
        {{ route.name }}
      </router-link>
    </nav>
    <div :class="['header-menu-toggle', menu ? 'open' : null]">
      <button @click="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </header>
</template>

<script>
export default {
  data() {
    return {
      menu: false,
      routes: [{ path: "/", name: "Home" }],
    };
  },
  methods: {
    toggleMenu() {
      document.body.classList.toggle("disable-scroll");
      this.menu = !this.menu;
    },
    closeMenu() {
      document.body.classList.remove("disable-scroll");
      this.menu = false;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./style";
</style>