header {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px 25px 4px;
  box-shadow: 0px 5px 20px 3px #00000014;
  z-index: 5;
}

a {
  display: block;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 45px;
}

img {
  height: 40px;
  margin-right: 10px;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3px;
}

nav {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.route {
  margin: 0 15px;

  &.active {
    color: $active;
  }
}

.header-menu-toggle {
  display: none;

  button {
    position: relative;
    height: 16px;
    width: 25px;
    background-color: transparent;
    padding: 0;
    border: none;
    transition: 0.4s ease-in-out;

    span {
      display: block;
      position: absolute;
      border-bottom: 2px solid #000;
      border-radius: 1px;
      left: 0;
      transform: rotate(0deg);
      transition: 0.4s ease-in-out;

      &:nth-child(1) {
        top: 0;
        width: 100%;
        transform-origin: left center;
      }

      &:nth-child(2) {
        top: 7px;
        width: 100%;
        transform-origin: center center;
      }

      &:nth-child(3) {
        top: 14px;
        width: 100%;
        transform-origin: left center;
      }
    }
  }

  &.open {
    button {
      width: 16px;

      span {
        width: 21px;

        &:nth-child(1) {
          transform: rotate(45deg);
          top: -1px;
        }

        &:nth-child(2) {
          width: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 14px;
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  header {
    padding: 10px 25px 4px;
    box-shadow: 0px 5px 20px 3px #00000014;
  }

  .logo {
    margin-right: 35px;
  }

  img {
    height: 30px;
    margin-right: 8px;
  }

  h1 {
    font-size: 1.8rem;
    margin-bottom: 2px;
  }

  nav {
    margin-bottom: 4px;
  }

  .route {
    margin: 0 15px;
  }
}

@media (max-width: 575.98px) {
  header {
    justify-content: space-between;
    padding: 10px 15px 4px;
    box-shadow: none;
  }

  .logo,
  .header-menu-toggle {
    position: relative;
    z-index: 1000;
  }

  .logo {
    margin-right: 0;
  }

  nav {
    position: fixed;
    top: calc(-100vh - 150px);
    left: 0;
    right: 0;
    height: calc(100vh + 150px);
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 4px;
    padding: 200px 15px 150px;
    z-index: 999;
    transition: 0.7s ease;

    &.active {
      top: 0;
    }
  }

  .route {
    font-size: 2.5rem;
    margin: 0 0 25px;
  }

  .header-menu-toggle {
    display: block;
    margin-bottom: 8px;
  }
}
