* {
  box-sizing: border-box;
}

body {
  &.disable-scroll {
    overflow: hidden;
  }
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

hr {
  margin: 0;
  border: none;
}
