html {
  font-size: 10px !important;
}

body {
  position: relative;
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: $black;
  line-height: 1.5;
}

button:focus,
input:focus,
textarea:focus,
select:focus,
input:invalid,
input:required {
  outline: none !important;
  box-shadow: none !important;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  transition: 0.3s ease;

  &,
  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.link-template {
  &,
  &:hover {
    text-decoration: none;
  }

  &:hover {
    color: $active;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

strong {
  font-weight: 500;
}

@media (max-width: 991.98px) {
  html {
    font-size: 9px !important;
  }
}

@media (max-width: 575.98px) {
  html {
    font-size: 8px !important;
  }
}
