<template>
  <div class="container">
    <div class="wrapper">
      <div class="items-container">
        <PostItem v-for="item in data" :key="item.id" :item-data="item" />
        <Loader :loading="loading && firstLoad" position="container" />
      </div>
      <div :class="['pagination-container', loading ? 'disabled' : null]">
        <button
          class="pagination-button button-left"
          :disabled="pagination === 1"
          @click="load(pagination - 1)"
        >
          <i class="wt-icon-arrow-right"></i>
        </button>
        <button
          class="pagination-button button-right"
          :disabled="pagination === totalPages"
          @click="load(pagination + 1)"
        >
          <i class="wt-icon-arrow-right"></i>
        </button>
        <div class="pagination-pages">
          <button
            v-for="num in totalPages"
            :key="num"
            :class="['pagination-page', pagination === num ? 'active' : null]"
            @click="load(num)"
          >
            <span>
              {{ num }}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <Loader :loading="!firstLoad" />
</template>

<script>
import Loader from "@/components/shared/loader";
import PostItem from "./post-item";

export default {
  components: {
    Loader,
    PostItem,
  },
  data() {
    return {
      data: [],
      loading: true,
      pagination: 1,
      totalPages: 10,
      firstLoad: false,
    };
  },
  methods: {
    load(page) {
      this.loading = true;
      this.$axios
        .get(`/posts?_page=${page}&_limit=10`)
        .then((res) => {
          this.data = res.data;
          this.pagination = page;
          this.firstLoad = true;

          this.loading = false;
        })
        .catch((e) => console.error(e));
    },
  },
  mounted() {
    this.load(1);
  },
};
</script>

<style lang="scss" scoped>
@import "./style";
</style>