.item {
  display: block;
  max-width: calc(33.33% - 30px / 3 * 2);
  width: 100%;
  margin: 0 15px 30px;
  box-shadow: 0px 7px 18px 7px #00000012;
  padding: 15px 15px 20px;
  border-radius: 2px;
  transition: 0.4s ease;

  &:hover {
    box-shadow: 0px 7px 18px 7px #0000002e;

    h3 {
      color: $active;
    }
  }
}

h3,
p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 15px;
  max-height: calc(1.5 * 1.6rem * 2);
  min-height: calc(1.5 * 1.6rem * 2);
  -webkit-line-clamp: 2;
  transition: 0.4s ease;
}

p {
  -webkit-line-clamp: 3;
  max-height: calc(1.5 * 1.5rem * 3);
  min-height: calc(1.5 * 1.5rem * 3);
}

@media (min-width: 992px) {
  .item {
    &:nth-child(3n + 1) {
      margin-left: 0;
    }

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
}

@media (max-width: 991.98px) {
  .item {
    max-width: calc(50% - 30px / 2);
    margin: 0 15px 25px;
    padding: 15px 15px 20px;
  }
}

@media (max-width: 991.98px) and (min-width: 650px) {
  .item {
    &:nth-child(2n + 1) {
      margin-left: 0;
    }

    &:nth-child(2n + 2) {
      margin-right: 0;
    }
  }
}

@media (max-width: 649.98px) {
  .item {
    max-width: 480px;
    margin: 0 auto 25px;
    padding: 15px 15px 20px;
  }

  h3 {
    margin-bottom: 10px;
  }
}
