<template>
  <router-link :to="'/post/' + itemData.id" class="item">
    <h3>{{ itemData.title }}</h3>
    <p>{{ itemData.body }}</p>
  </router-link>
</template>

<script>
export default {
  props: {
    itemData: {
      type: Object,
      default: () => {},
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./item";
</style>