.wrapper {
  padding: 40px 0 50px;
}

.items-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.pagination-container {
  display: flex;
  align-items: center;

  &.disabled {
    pointer-events: none;
  }
}

.pagination-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 15px;
  background-color: $gray;
  margin-right: 10px;
  border-radius: 3px;
  transition: 0.3s ease;

  i {
    font-size: 11px;
  }

  &.button-left {
    transform: rotate(180deg);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    background-color: $gray-active;
  }
}

.pagination-pages {
  display: flex;
  align-items: center;
}

.pagination-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 5px;
  transition: 0.3s ease;

  span {
    font-size: 1.3rem;
  }

  &.active {
    background-color: $active;
    color: #fff;
  }

  &:not(.active) {
    &:hover {
      background-color: #e8e8e8;
    }
  }
}

@media (max-width: 991.98px) {
  .wrapper {
    padding: 35px 0 45px;
  }
}

@media (max-width: 575.98px) {
  .wrapper {
    padding: 30px 0 40px;
  }

  .pagination-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .button-right {
    margin-right: 0;
  }

  .pagination-pages {
    justify-content: center;
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
  }
}
