@font-face {
  font-family: "Open Sans";
  src: url("~@/assets/fonts/OpenSans/OpenSans-Italic.woff2") format("woff2"),
    url("~@/assets/fonts/OpenSans/OpenSans-Italic.woff") format("woff"),
    url("~@/assets/fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("~@/assets/fonts/OpenSans/OpenSans-Light.woff2") format("woff2"),
    url("~@/assets/fonts/OpenSans/OpenSans-Light.woff") format("woff"),
    url("~@/assets/fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("~@/assets/fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"),
    url("~@/assets/fonts/OpenSans/OpenSans-Bold.woff") format("woff"),
    url("~@/assets/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("~@/assets/fonts/OpenSans/OpenSans-LightItalic.woff2")
      format("woff2"),
    url("~@/assets/fonts/OpenSans/OpenSans-LightItalic.woff") format("woff"),
    url("~@/assets/fonts/OpenSans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("~@/assets/fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2"),
    url("~@/assets/fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"),
    url("~@/assets/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("~@/assets/fonts/OpenSans/OpenSans-BoldItalic.woff2") format("woff2"),
    url("~@/assets/fonts/OpenSans/OpenSans-BoldItalic.woff") format("woff"),
    url("~@/assets/fonts/OpenSans/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("~@/assets/fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"),
    url("~@/assets/fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
    url("~@/assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("~@/assets/fonts/OpenSans/OpenSans-SemiBoldItalic.woff2")
      format("woff2"),
    url("~@/assets/fonts/OpenSans/OpenSans-SemiBoldItalic.woff") format("woff"),
    url("~@/assets/fonts/OpenSans/OpenSans-SemiBoldItalic.ttf")
      format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("~@/assets/fonts/OpenSans/OpenSans-Italic_1.woff2") format("woff2"),
    url("~@/assets/fonts/OpenSans/OpenSans-Italic_1.woff") format("woff"),
    url("~@/assets/fonts/OpenSans/OpenSans-Italic_1.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("~@/assets/fonts/OpenSans/OpenSans-ExtraBold.woff2") format("woff2"),
    url("~@/assets/fonts/OpenSans/OpenSans-ExtraBold.woff") format("woff"),
    url("~@/assets/fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
