<template>
  <PostSingle :post="post" :author="author" :comments="comments" />
</template>

<script>
import PostSingle from "@/components/post-single";

export default {
  components: {
    PostSingle,
  },
  data() {
    return {
      post: null,
      author: null,
      comments: null,
    };
  },
  methods: {
    fetchPost() {
      this.$axios
        .get(`/posts/${this.$route.params.id}`)
        .then(({ data: post }) => {
          this.post = post;

          const reqAuthor = this.$axios.get(`/users/${post.userId}`);
          const reqComments = this.$axios.get(
            `/comments?postId=${post.userId}`
          );

          Promise.all([reqAuthor, reqComments])
            .then(([author, comments]) => {
              this.author = author.data;
              this.comments = comments.data;
            })
            .catch((e) => {
              console.error(e);
            });
        })
        .catch((e) => {
          console.error(e);
        });
    },
  },
  created() {
    this.fetchPost();
  },
};
</script>
