<template>
  <transition name="fade">
    <div v-if="loading" :class="['loader', position ? 'block' : null]">
      <div class="spinner"></div>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
    position: {
      type: String,
      default: "",
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./style";
</style>