@import "./wt-codes.css";

@font-face {
  font-family: "wt";
  src: url("./wt.eot?11163512");
  src: url("./wt.eot?11163512#iefix") format("embedded-opentype"),
    url("./wt.woff2?11163512") format("woff2"),
    url("./wt.woff?11163512") format("woff"),
    url("./wt.ttf?11163512") format("truetype"),
    url("./wt.svg?11163512#wt") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i[class^="wt-icon-"],
i[class*=" wt-icon-"] {
  display: block;
  color: #000;
  vertical-align: text-top;
  font-family: "wt" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
