<template>
  <transition name="fade">
    <div v-if="isModalOpen" class="modal-container">
      <div class="background-toggle" @click="close()"></div>
      <div class="container-small">
        <div class="wrapper">
          <button class="close-button" @click="close()">
            <i class="wt-icon-close"></i>
          </button>
          <div class="avatar-container">
            <i class="wt-icon-user"></i>
          </div>
          <div class="title-container">
            <h2>{{ modalData.name }}</h2>
            <h3>{{ modalData.username }}</h3>
          </div>
          <div class="addition-info">
            <div class="contacts-container">
              <h5>Contacts</h5>
              <p>
                Email:
                <a class="link-template" :href="`mailto:${modalData.email}`">{{
                  modalData.email
                }}</a>
              </p>
              <p>
                Phone:
                <a class="link-template" :href="`tel:${modalData.phone}`">{{
                  modalData.phone
                }}</a>
              </p>
              <p>
                Website:
                <a class="link-template" :href="modalData.website">{{
                  modalData.website
                }}</a>
              </p>
            </div>
            <div class="company-container">
              <h5>Company</h5>
              <p>
                {{
                  `${modalData.company.name}
                  ${modalData.company.bs}`
                }}
              </p>
              <h5>Adress</h5>
              <p>
                {{
                  `${modalData.address.city}
                  ${modalData.address.street}
                  ${modalData.address.suite}`
                }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  computed: {
    isModalOpen() {
      return this.$store.state.modalStore.authorModal;
    },
    modalData() {
      return this.$store.state.modalStore.authorData;
    },
  },
  methods: {
    close() {
      this.$store.commit("openAuthorModal", { open: false });
      document.querySelector("body").classList.remove("disable-scroll");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./style";
</style>