.modal-container,
.background-toggle {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container {
  position: fixed;
  z-index: 9999;
  padding: 60px 0 30px;
  overflow-y: scroll;
  background-color: #00000069;
}

.background-toggle {
  position: absolute;
}

.wrapper {
  position: relative;
  background-color: #fff;
  border-radius: 2px;
  padding: 30px 20px 40px;
  z-index: 2;
}

.close-button {
  position: absolute;
  top: 0;
  right: -40px;

  i {
    font-size: 20px;
    color: #fff;
  }
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: $white;
  border-radius: 50%;
  margin: 0 auto 10px;

  i {
    font-size: 35px;
  }
}

.title-container {
  margin-bottom: 40px;

  h2 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }

  h3 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }
}

.addition-info {
  display: flex;

  h5 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5px;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 3px;
  }

  .contacts-container,
  .company-container {
    max-width: 50%;
    width: 100%;
  }
}

.contacts-container {
  padding-right: 20px;
}

.company-container {
  p {
    margin-bottom: 20px;
    white-space: pre-line;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.fade-enter-active {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}

@media (max-width: 1199.98px) {
  .modal-container {
    padding: 80px 0 30px;
  }

  .close-button {
    top: -40px;
    right: 0;
  }
}

@media (max-width: 767.98px) {
  .modal-container {
    padding: 60px 0 20px;
  }

  .wrapper {
    padding: 25px 20px 30px;
  }

  .close-button {
    top: -30px;
    right: 0;

    i {
      font-size: 18px;
    }
  }

  .avatar-container {
    width: 70px;
    height: 70px;

    i {
      font-size: 30px;
    }
  }

  .title-container {
    margin-bottom: 30px;

    h2 {
      font-size: 2.5rem;
      max-width: 400px;
    }

    h3 {
      font-size: 1.8rem;
    }
  }

  .addition-info {
    h5 {
      font-size: 1.8rem;

      p {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .wrapper {
    padding: 20px 15px 25px;
  }

  .avatar-container {
    width: 60px;
    height: 60px;
    margin: 0 auto 8px;

    i {
      font-size: 25px;
    }
  }

  .title-container {
    margin-bottom: 25px;

    h2 {
      font-size: 2.2rem;
    }

    h3 {
      font-size: 1.8rem;
    }
  }

  .addition-info {
    flex-wrap: wrap;

    .contacts-container,
    .company-container {
      max-width: 100%;
    }
  }

  .company-container {
    margin-top: 17px;

    p {
      margin-bottom: 17px;
    }
  }
}
