<template>
  <HeaderTemplate />
  <router-view />
</template>

<script>
import HeaderTemplate from "@/components/layouts/header";

export default {
  components: {
    HeaderTemplate,
  },
};
</script>